@font-face {
  font-family: "Kaushan Script";
  src: url(/fonts/KaushanScript-Regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.subtitle {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: "Kaushan Script";
}
header {
  width: 1200px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

hr {
  width: 50px;
  height: 2px;
  background-color: red;
  border: 0;
  margin: 0 auto;
}

.menu a {
  color:#95e1d3;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  position: relative;
}
.menu {
  list-style: none;
  display: flex;
  font-family: 'Times New Roman', Times,  Georgia, serif;
  font-size: 16px;
}

.menu li {
  margin-left: 50px;
}


.menu a:hover {
  color: #F38181;
}

.menu a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 3px;
  background: #F38181;
  transition: .5s;
}

.menu a:hover::after {
  width: 100%;
  transform: translate(-50%);
}

.logo {
  font-family: "Montserrat", sans-serif;
  color: #95e1d3 ;
  font-size: 30px;
  font-weight: 700;
} 

main {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  margin-top: 30px;
  margin-bottom: 40px;
}

.service-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  width: 35%;
  padding:0 60px;
  margin: 50px 0;
  display: flex;
}

.service-item h3 {
  margin-bottom: 20px;
}

.service-item img {
  margin-right: 30px;
  margin-bottom: 90px;
}

.section-title div p {
  margin-top: 45px;
  margin-bottom: 80px;
}

.team-member {
  margin-right: 30px;
  text-align: center;
}

.team-member h3{
  margin-top: 30px;
}

.members {
  display: flex;
}

h2
h3 {
  font-family: "Montserrat", sans-serif;
}

footer {
  width: 1200px;
  padding-top: 110px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  color: white;
  background-color: #95e5d7;
  font-family: "Montserrat", sans-serif;
}

.team-member {
  width: 35%;
}

.team-member img {
  width: 100%;
} 

.team-member:first-child {
  margin-left: 0;
} 

.member-photo {
  position: relative;
}

.member-photo::before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: 16px;
  right: 10px;
  left: -10px;
  background: linear-gradient(180deg, rgba(248, 146, 144, 0.8) 0%, rgba(224, 203, 125, 0.8) 100%);
  transition: .6s;
  opacity: 0;
}

.member-photo:hover::before,
.member-photo:hover .social {
  opacity: 1;
}

.social {
  list-style: none;
  display: flex;
  padding-left: 0;
  position: absolute;
  top: calc(50% -29.5px);
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
}

.social li {
  width: 58px;
  height: 58px;
  background: #fce38a;
  margin-left: 1px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.social img {
  height: 26px;
}

.social li :hover {
  background: rgb(137, 218, 203);
  transition: 0.9s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}