@font-face {
  font-family: "Kaushan Script";
  src: url(/fonts/KaushanScript-Regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.subtitle {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: "Kaushan Script";
}
header {
  width: 1200px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

.hr-1 {
  width: 50px;
  height: 2px;
  background-color: rgb(233, 19, 19);
  border: 0;
  margin: 0 auto;
}

.menu a {
  color:#95e1d3;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  position: relative;
}
.menu {
  list-style: none;
  display: flex;
  font-family: "Montserrat", sans-serif, 'Times New Roman', Times, serif;
  font-size: 16px;
}

.menu li {
  margin-left: 50px;
}

.menu a:hover {
  color: #f07e7e;
}

.menu a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 3px;
  background: #f78585;
  transition: .5s;
}

.menu a:hover::after {
  width: 100%;
  transform: translate(-50%);
}

.logo {
  font-family: "Montserrat", sans-serif;
  color: #95e9d9 ;
  font-size: 30px;
  font-weight: 700;
} 

main {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  margin-top: 30px;
  margin-bottom: 40px;
}

.service-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  width: 33%;
  padding: 0 60px;
  margin: 50px 0;
  display: flex;
}

.service-item h3 {
  margin-bottom: 20px;
}

.service-item img {
  margin-right: 30px;
  margin-bottom: 90px;
}

.section-title div p {
  margin-top: 45px;
  margin-bottom: 80px;
}

.team-member {
  margin-right: 30px;
  text-align: center;
}

.team-member h3{
  margin-top: 30px;
}

.members {
  display: flex;
}
p {
  font-family: "Montserrat", sans-serif;
  color: rgb(116, 115, 115);
}
h2
h3 {
  font-family: "Montserrat", sans-serif;
}

footer {
  width: 1200px;
  padding-top: 110px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  color: white;
  background-color: #95e5d7;
  font-family: "Montserrat", sans-serif;
}

.team-member {
  width: 33%;
}

.team-member img {
  width: 100%;
} 

.team-member:first-child {
  margin-left: 0;
} 

.member-photo {
  position: relative;
}

.member-photo::before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: 15px;
  right: 10px;
  left: -10px;
  background: linear-gradient(180deg, rgba(252, 155, 153, 0.8) 0%, rgba(231, 210, 131, 0.8) 100%);
  transition: .5s;
  opacity: 0;
}

.member-photo:hover::before,
.member-photo:hover .social {
  opacity: 1;
}

.social {
  display: flex;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s;
}
.social li {
  width: 57px;
  height: 57px;
  background: #ffd885;
  transition: .5s;
}
.social li:hover {
  background: #9cecde;
}
.social a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social img {
  height: 25px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}
a {
  font-size:16px;
   color:#da0909;
   font-family: "Montserrat", sans-serif;
   text-decoration: none;
  }
   
input:active,
input:focus {
    outline: none;
}
input::placeholder {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B6B6B6;
}
.button {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: #95E1D3;
    color: #fff;
    text-transform: uppercase;
    padding: 9px 36px;
    border: none;
}
.button:hover {
    background: #f06969;
}
.hr-footer {
  margin: -30px auto 10px;
	padding: 0;
	height: 50px;
  display: flex;
  justify-content: center;
	border: none;
	border-bottom: 2px solid #868686;
	box-shadow: 0 20px 20px -20px rgb(173, 173, 173);
	width: 95%;

}
